<div style="float:right;width:250px;">
    <a href="https://plus.google.com/?hl=en-US" target="_blank"><img src="~/Content/Images/google-plus-6-xxl.png" width="50" height="50" /></a>
    <img src="~/Content/Images/Watsapp-and-Facebook.jpg" width="100" height="50" alt="Planets" usemap="#FaceBookWhatApp">
    <map name="FaceBookWhatApp">
        <area shape="circle" coords="90,58,3" alt="Mercury" href="https://www.facebook.com" style="border:groove 1px solid Blue;">
        <area shape="circle" coords="124,58,8" alt="Venus" href="https://web.whatsapp.com" style="border:groove 1px solid black;">
    </map>
    <a href="https://twitter.com/home" target="_blank"><img src="~/Content/Images/Twitter-logo-3D-shining-300x300.png" width="50" height="50" /></a>
</div>
