@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/fonts/FontStyle.css" rel="stylesheet" />
<p>Use this area to provide additional information.</p>
<p class="customfont">
    lsok esa]
    Jheku~ iqfyl egkfuns'kd
    fcgkj ljdkj] iVuk

    @*lsok esa]
    Jheku~ iqfyl egkfuns'kd
    fcgkj ljdkj] iVuk
    fo"k; % vkrad ,oa ekSr dh [kkSQukd dgkuh] ftlls futkr ds laca/k esa A
    egk'k;]
    uhps fy[ks x;s ,d egRoiw.kZ ?kVuk dks /;ku ls ns[kk tk, ,oa mldh lgh rgdhdkr djk dj lekt dks Hk; eqDr djk;saA
    xzke & xUuhiqj Hkkuiqj]  iksLV & HkjFkhiqj] iapk;r & cfyxkao]  Fkkuk & cfyxkao] iz[k.M & ikrsiqj]  ftyk oS'kkyh] fcgkj esa ,d fny ngykus okyh [kkSQukd ?kVuk o"kZ 2006 esa ?kfVr gqbZA Lo0 iyVu  flag  ds pkj iq=k fo'uqnso flag] eqds'k daqekj]  vt; dqekj ,oa jkds'k dqekj gSA  fo'uqnso flag ds cMs+ csVk Lo0 vfuy dqekj tks fd i<+us esa cgqr gh vPNk ,oa lq'khy LoHkko dk FkkA ifjokjhd fooknksa dh otg ls mldk vigj.k vxLr 2006 esa dj fy;k x;kA dkQh [kkstchu djkbZ xbZ] ysfdu mldk irk ugh py ik;kA fo'uqnso flag }kjk Fkkuk esa lwpuk nsuk pkgk] ijarq mlds rhuksa HkkbZ;ksa }kjk lwpuk nsus ds fy, euk dj fn;k x;kA ftlds ckn yksxksa dks 'kd gksuk ' kq gqvk fd ifjokjhd fooknksa dh otg ls gh rhuksa pkpkvksa }kjk gh Lo0 vfuy dqekj xk;c fd;k x;kA yxHkx nks eghus ds ckn 23 vDVwcj 2006 dks jkr ds yxHkx 12 cts HkjFkhiqj pkSd ls 200 ehVj ij fLFkr ,d>
        kM+h ls dqN vthcksa xthc vkokt us yksxksa dks Mjk fn;kA ftu yksxksa dk ?kj ml txg ij gS mu yksxksa us cM+h fgEer dj ogka igaqps rks ns[k dj lc HkkSpd jg x;sA lcks us gYyk fd;k fd vfuy vk x;k] ysfdu ;g yM+dk bl ifjfLFkfr esa dSls gSA xzkeh.kksa us crk;k fd Lo- vfuy dqekj dh ml le; fLFkfr cgqr gh [kjkc FkhA oks iqjk t[eh] ,oa u'ks dh gkyr ekSr dh ?kkV rji jgk FkkA ml le; xkao ds dkQh yksxksa dh HkhM+ tek gks xbZ] ogh ml le; M~;wVh ij ekStwn pkSdhnkj ds ns[k js[k esa gh  yksxksa dks vk'p;Z gqvk fd vfuy xkao dk cgqr gh lH; cPpk bl ifjfLFfr esa dSls igqapkA yksxksa us mls mBkdj HkjFkhiqj pkSd ds ij ,d iku dh xqeVh ds ikl ykdj j[kk ,oa mlds ?kj okyksa dks lwpuk nhA  rc yksxksa us crk;k fd tc mlds 'kjhj dks ns[kk rks lc nax jg x;s] ;g ns[kdj fd vfuy dqekj ds gkFk ds cktwoksa ij lwbZ fd fuMy yxs gq, Fks] iqjk 'kjhj ygq&yqgku gks j[kk Fkk] iSj dk ryck fdlh /kkjnkj gfFk;kj ls dkVk x;k FkkA iwjk 'kjhj mldk dkyk iM+k gqvk Fkk]  'kjhj ls dqN vthc xa/k vk jgk FkkA ,slk yx jgk Fkk fd tSls iwjs 'kjhj esa tgj ;k u'khyh inkFkZ Mkyk x;k gqvk gSA
        mlh chp vfuy ds ?kj ls mldk pkpk eqds'k dqekj vk;k rks mls ns[krs gh oks Mj lk x;kA  eqds'k dqekj us dqN vius lg;ksxh xzkeh.kksa dh lgk;rk ls mls ?kj ys x;kA  mlds ckn mldk dksbZ bykt ugha djk;k x;k vkSj  tc vfuy dh eka vius xksn esa ysdj jksus yxh rks vfuy bruk gh cksy ik;k fd & ekbZ xs ekbZ eqds'k] vt;] jkds'k pkpk lc ls >xM+k dkgs fd lc ekj nsy/kquA bruk dgrs gq, gh vfuy us vafre lkals ys yhA eqds'k] vt;] jkds'k rhuksa HkkbZ;ksa us dksbZ  Hkh dkuwuh izfdz;k ugha gksus nh vkSj fo'uqnso flag dks rhuksa HkkbZ;ksa us ;s /kedh nh dh ckdh ds nksuksa csVksa dks blh rjg ekSr ds ?kkV mrkj nwxakA blfy, vius nks csVs dks ysdj dqN gh le; ckn fo'uqnso flag xkao NksM+ dj dgk x;k fdlh dks irk ughaA ogh iyVu flag dks tc irk pyk fd muds iksrs dks muds gh rhuksa csVs us ekj fn;k rks eqds'k] vt;] jkds'k us fey dj iyVu flag dks Hkh tgj nsdj ekj fn;kA
        gj ckj dh rjg Hkh xzkeh.k pqipki Mj ds ekjs jgsA bl dkj.k eqds'k] vt;] jkds'k dk eukscy cgqr c<+ x;k vkSj oks vkt bl bykds ds dkQh ncax yksxksa esa 'kkfey gks pqdk gSA yM+dh;ksa dk ' olu] cykRdkj] gR;k] vigj.k] pksjh] MdSrh] vc eqds'k] vt;] jkds'k ds fy, vke ckr gSA eqds'k dqekj vkt dksafpx laLFkku pykrk gS vkSj ogka i<+us okyh eklwl yM+dh;ksa dks cgykdj mudk 'kks"k.k fd;k  djrk gSA
?kVukvksa dk vackj yxk pqds eqds'k] vt;] jkds'k ls lc yksx ,oa bykds ds lHkh yksxk ijs'kku gks pqds gSA*@

</p>
