@{
    ViewBag.Title = "समाचार";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/fonts/FontStyle.css" rel="stylesheet" />
<p></p>
<p class="customfont">
   
 </p>

<p class="customfont">
    vius fopkjksa dh Lora=rk o Lora=rk dh vktknh ds lgh eryc Li"V djus ds dM+h ds :i esa vg~ku U;wt dsoy pSuy vkids chp gSA yxkrkj lekpkj i=&if=dkvksa] lekpkj pSuyksa o lks'ky fefM;k dk izHkko lekt esa c<+rk tk jgk gSA vkt yksdra=ds pkSFks LraHk ds i esa fefM;k dks ns[kk tk jgk gS vkSj eq[; i ls rhuksa LraHkksa ls Hkh T;knk mEehn pkSFks LraHk ls gh vke vkneh dks jgrh gSA blfy, gekjh ftEesokjh Hkh cgqr T;knk c<+ tkrh gS vkSj gesa 24 ?kaVksa viuh vk¡[k] dku o ukd [kksydj j[kuh iM+rh gSA ,d ,slh ftEesokjh ftldk o.kZu djuk Hkh vius vki esa vf}rh; loky NksM+ tkrk gSA
</p>
<p class="customfont">^^vke vkneh dh tku ds :i esa viuk txg cuk;k gS fefM;k us] ,d Hkjks'ks dk nqljk uke gh fefM;k gSA mlh ftEesokjh dks l;e vkSj /kS;Z ls fuHkkus ds fy, vg~ku U;wt dsoy pSuy vkids 'kgjksa esa /khjs&/khjs dk;Z djuk 'kq: fd;k gSA**
</p>
<p class="customfont">ge vkidksa Hkjks'kk  fnykuk pkgrs gS fd vg~ku U;wt dsoy pSuy ,d lR;rk vkSj fo'oluh;rk dks cuk;s j[krs gq, vkids ?kjksa rd igq¡pus dk iz;kl djrh gS vkSj djrh jgsxhA vkids lg;ksx ds lkFk lekt dks ,d fn'kk nsus okys yksxksa ls eq[; :i ls ge vkidk ifjp; djkrs jgsaxsa vkSj muls tqM+us o tkudkjh dk ek/;e ds :i esa Hkh vg~ku U;wt vkidksa enn djsxhA vki vius fopkjksa dks lk>k djus dk ,d mi;qDr ek/;e ds :i esa vg~ku U;wt dsoy pSuy dks ys vkSj vius Hkkjr dks fodflr jk"Vª fuekZ.k esa vxz.kh Hkwfedk fuHkk,¡A
</p>
<p class="customfont">^^fopkjksa fd Lora=rk] gekjh lksp dk ek/;e] gekjs /;ku dks etcwrh] gekjs mn~ns';ksa dks ,d ia[k] gekjs vkn'kksZa dks Hkw[k.M ij] gekjh mM+kuksa dks mM+us dks] mUeqDr xxu] tehu dh xjhek dks cuk;s j[kus dk ,d cgqr gh ljy o ?kksj dBksj ekxZ ds :i esa ge vkids chp gSA**
</p>
<p class="customfont">gekjk iz;kl gS fd lekpkjksa dh lR;rk ls vkidks voxr djk;s vkSj vkids fo'oluh;rk dks ysdj lkekftd lajpukvksa ij ppkZ djsaA vki vius {ks=ksa ls gesa lkekpkjksa ls voxr djk ldrs gSA gekjsa cgqr tYn ,sfIyds'ku Hkh vk jgk gS rks vki ogk¡ ls lkekpkj Hkst Hkh ldrsa gSA vki vg~ku U;wt ds OgkV~l vi uEcj 9471439247 ij QksVks o ohfM;ksa Hkst ldrs gSaA lR;rk ds tk¡p ds ckn vg~ku U;wt mls izdkf'kr ,oa lapkfyr Hkh djsxhA
</p>
<p class="customfont">,d lksp] fopkj] le> ds lkFk lkekftd mRFkku ds fy, vg~ku U;wt ------------ xk¡o] iapk;r] iz[k.M] vuqe.My] uxj] ftyk] ize.My] jkT; rc jk"Vª fuekZ.k ds lkFk lekt fuekZ.k ds fy, dk;Z djus dk iz;kl dj jgh gSA eSaus tks eglwl fd;k] mlh dks O;Dr dj jgk gwWA vki lHkh ds lg;ksx ls vius tUeHkwfe] deZHkwfe ,oa jk"V~Hkwfe ds fy, dqN djus dh bPNk ds rgr gh vg~ku U;wt dks tks vc /kjkry ij nks dne c<+kus dk iz;kl dj jgk gS mlesa vkids lg;ksx dh vis{kk ds lkFk dk;Z dj gh gS vkSj vki viuk cgqeqY; laokn gekjs lkFk djsa ;gh vis{kk ds lkFk dh vkidk lg;ksx feyrk jgsxk] ftlls pSuy dks fo'oLrjh; cuk;k tk ldsA
</p>
<p class="customfont">/kU;okn</p>